* {
  background-color: tomato;
  font-size: xxx-large;
  font-family: monospace;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upgrade {
  display: none;
}

.points-greater-than-10 .upgrade {
  display: inline-block; /* Show the button when points are greater than 10 */
}

.points-greater-than-100 .upgrade {
  display: inline-block; /* Show the button when points are greater than 10 */
}

.points-greater-than-1000 .upgrade {
  display: inline-block;
}
